%fullSpace {
    width: 100%;
    height: 100%;
}

%transitionLeft {
    left: 0;
    transition: left .8s cubic-bezier(1, 0, 0, 1);
}

%transitionLeft {
    right: 0;
    transition: right .8s cubic-bezier(1, 0, 0, 1);
}